@font-face {
  font-family: "Glacial_indifference";
  src: url("../fonts/glacial-indifference/GlacialIndifference-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Glacial_indifference";
  src: url("../fonts/glacial-indifference/GlacialIndifference-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Glacial_indifference";
  src: url("../fonts/glacial-indifference/GlacialIndifference-Italic.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Lemon_tuesday";
  src: url("../fonts/lemon_tuesday/Lemon Tuesday.otf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Glacial_indifference", tahoma;
  margin: 0;
  background-color: #FFF;
}
@media (max-width: 1048px) {
  body {
    width: auto;
    background-color: white;
  }
}
body h1, body h2, body h3, body h4 {
  font-family: "Lemon_tuesday", tahoma;
}
body h1, body h2 {
  box-sizing: border-box;
  color: #fff;
  flex-shrink: 0;
  line-height: 1.1;
  margin: 0;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  text-align: left;
  word-wrap: break-word;
}
body h1 {
  font-size: 6.25rem;
  font-weight: 300;
  line-height: 1.1;
}
body h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 20px 0 0;
}

section {
  display: block;
  margin-top: 80px;
  margin-bottom: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: orangered;
}
a:visited {
  color: black;
}

.hidden {
  display: none !important;
}

li {
  list-style: none;
}

.colonneCentrale {
  max-width: 1140px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .colonneCentrale {
    max-width: 720px;
  }
}

.dcContainer {
  display: flex;
}

.doubleColonne {
  width: 50%;
  display: flex;
}

.flex {
  display: flex;
}

.btn {
  align-self: flex-start;
  background-color: #434140;
  background-image: none;
  border: 0 none transparent;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff !important;
  cursor: pointer;
  display: table;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 25.6px;
  margin: 30px auto 65px 0;
  outline: 0;
  padding: 10px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}
@media (max-width: 575px) {
  .btn {
    font-size: 11px;
  }
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(325deg, #a7aa8c, #c2986e);
  opacity: 0;
  z-index: -1;
  transition: opacity 1000ms;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  margin: auto 20px auto 20px;
}
.menu__header__icone {
  padding-top: 20px;
  font-size: 2em;
}
.menu__phase {
  margin: 40px 20px auto 20px;
}
.menu__phase__nom-plat {
  margin-left: 20px;
}
.menu h2 {
  font-family: "Shrikhand", tahoma;
}
.menu h3 {
  text-transform: uppercase;
}
.menu h3 .souligne-bleu {
  display: inline;
  border-bottom: 1px solid #99E2D0;
}
.menu h4 {
  font-family: "Roboto", tahoma;
  margin-bottom: 0;
}
.menu span {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.menu p {
  margin-top: 0;
}
.menu .prix {
  font-family: "Roboto", tahoma;
}

header {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 6000;
  position: fixed;
  top: 0;
  width: 100%;
}
header .colonneCentrale {
  width: 100%;
}
header .header {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}
@media (max-width: 1048px) {
  header .header {
    margin-left: 40px;
  }
}
@media (max-width: 575px) {
  header .header {
    margin-left: 20px;
  }
}
header .header svg {
  width: 20px;
  height: 20px;
  color: #111;
  fill: #111;
  margin-top: 30px;
}
header .header .hamburger {
  display: none;
}
@media (max-width: 575px) {
  header .header .hamburger {
    display: block;
  }
}
header .header .logo {
  width: 64px;
}
header .header .menu_inline ul {
  display: flex;
  margin-top: 10px;
  padding-top: 20px;
}
header .header .menu_inline ul li {
  margin: 0 20px 0 20px;
}
header .header .menu_inline ul li a {
  color: #111;
}
header .header .menu_inline ul li a:hover {
  color: orangered;
  border-bottom: 1px solid orangered;
  transform: scaleX(1);
  transform-origin: left bottom;
  transition: all 0.25s ease-out;
  visibility: visible;
}
@media (max-width: 575px) {
  header .header .menu_inline ul {
    display: none;
  }
}

.cardLine {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1048px) {
  .cardLine {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 575px) {
  .cardLine {
    padding: 0;
  }
}
.cardLine_container {
  width: 285px;
  height: 302px;
  min-height: 302px;
  max-height: 100%;
  min-width: 25%;
  max-width: 25%;
}
@media (max-width: 991px) {
  .cardLine_container {
    min-width: 50%;
  }
}
@media (max-width: 575px) {
  .cardLine_container {
    min-width: 100%;
  }
}
.cardLine_container_1 {
  background-color: #E8D8C8;
}
.cardLine_container_2 {
  background-image: url("../images/5919fed0-9290-0161-07e7-b4aac8e308ea.webp");
  background-clip: padding-box;
  background-color: transparent;
  background-origin: padding-box;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  border: 0 solid transparent;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 25%;
  object-fit: cover;
  overflow: visible;
  position: relative;
  vertical-align: middle;
}
.cardLine_container_3 {
  background-color: #434140;
}
.cardLine_container_4 {
  background-image: url("../images/FLEURS.png");
  background-clip: padding-box;
  background-color: white;
  background-origin: padding-box;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  border: 0 solid transparent;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 25%;
  object-fit: cover;
  overflow: visible;
  position: relative;
  vertical-align: middle;
}
.cardLine_container_5 {
  background-image: url("../images/photos/photo3.webp");
  background-clip: padding-box;
  background-color: transparent;
  background-origin: padding-box;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  border: 0 solid transparent;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 25%;
  object-fit: cover;
  overflow: visible;
  position: relative;
  vertical-align: middle;
}
.cardLine_container_6 {
  background-color: #DFE0D5;
}
.cardLine_container_7 {
  background-image: url("../images/MAIN.png");
  background-clip: padding-box;
  background-color: transparent;
  background-origin: padding-box;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  border: 0 solid transparent;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 25%;
  object-fit: cover;
  overflow: visible;
  position: relative;
  vertical-align: middle;
  z-index: 15;
}
.cardLine_container_8 {
  background-color: #A0A0A0;
}
.cardLine_container_textBox h3 {
  box-sizing: border-box;
  flex-shrink: 0;
  font-family: Lemon_tuesday, Roboto, sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 25px auto 0;
  overflow-wrap: break-word;
  padding-top: 25px;
  position: relative;
  text-align: center;
  width: 225px;
  word-wrap: break-word;
}
.cardLine_container_textBox p {
  box-sizing: border-box;
  flex-shrink: 0;
  font-family: Glacial_indifference, "Open Sans", sans-serif;
  font-style: italic;
  line-height: 25.6px;
  margin: 20px auto 30px;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  text-align: center;
  width: 225px;
  word-wrap: break-word;
}
.cardLine_container_textBox .trait {
  border: solid;
  border-width: 3px 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 3px;
  line-height: 25.6px;
  margin: 30px auto 0;
  position: relative;
  stroke: #000;
  transform: rotate(360deg);
  transform-origin: left center 0;
  width: 54px;
}
.cardLine_container_textBox_1 h3, .cardLine_container_textBox_1 p {
  color: #111;
}
.cardLine_container_textBox_1 .trait {
  border-color: #111;
}
.cardLine_container_textBox_3 h3, .cardLine_container_textBox_3 p {
  color: #fff;
}
.cardLine_container_textBox_3 .trait {
  border-color: #fff;
}
.cardLine_container_textBox_6 h3, .cardLine_container_textBox_6 p {
  color: #111;
}
.cardLine_container_textBox_6 .trait {
  border-color: #111;
}
.cardLine_container_textBox_8 h3, .cardLine_container_textBox_8 p {
  color: #fff;
}
.cardLine_container_textBox_8 .trait {
  border-color: #fff;
}

.layout {
  margin-top: -80px;
  z-index: 9000;
}

.banniere {
  background-image: url("../images/photos/20211023-R-IMG_1353c.webp");
  width: 100%;
  min-height: 700px;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  object-fit: cover;
  overflow: visible;
  position: relative;
  vertical-align: middle;
  z-index: -3000;
  margin-top: 120px;
}
.banniere_height {
  height: 700px;
}
.banniere .verticalCentering {
  margin: auto 0;
  padding-top: 50px;
}
@media (max-width: 1048px) {
  .banniere .verticalCentering {
    padding-left: 40px;
  }
}
@media (max-width: 991px) {
  .banniere .verticalCentering {
    max-width: 720px;
  }
}
.banniere h1 {
  font-size: 5.25rem;
  font-weight: 300;
  line-height: 1.1;
  max-width: fit-content;
}
@media (max-width: 991px) {
  .banniere h1 h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 20px 0 0;
  }
}
@media (max-width: 767px) {
  .banniere h1 {
    font-size: 4.25rem;
  }
  .banniere h1 h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 20px 0 0;
  }
}
@media (max-width: 575px) {
  .banniere h1 {
    font-size: 2.25rem;
  }
  .banniere h1 h2 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 20px 0 0;
  }
}
.banniere h2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 20px 0 0;
  max-width: fit-content;
}
@media (max-width: 767px) {
  .banniere h2 {
    margin: 10px 0 0;
  }
}
@media (max-width: 575px) {
  .banniere h2 {
    font-size: 1rem;
    margin: 0;
  }
}

@media (max-width: 767px) {
  .whoIam .dcContainer {
    flex-direction: column;
  }
  .whoIam .doubleColonne {
    width: 100%;
  }
}
.whoIam_boxesContainer {
  margin-left: 40px;
}
@media (max-width: 575px) {
  .whoIam_boxesContainer {
    margin: 0 auto;
  }
}
.whoIam_carreGris {
  background-color: #A0A0A0;
  background-image: none;
  box-sizing: border-box;
  height: 541px;
  margin: -505px 0 0 100px;
  position: relative;
  width: 462px;
}
@media (max-width: 1048px) {
  .whoIam_carreGris {
    width: 402px;
  }
}
@media (max-width: 991px) {
  .whoIam_carreGris {
    width: 312px;
  }
}
@media (max-width: 767px) {
  .whoIam_carreGris {
    width: 442px;
    margin: -505px 0 0 75px;
  }
}
@media (max-width: 575px) {
  .whoIam_carreGris {
    width: 282px;
  }
}
@media (max-width: 374px) {
  .whoIam_carreGris {
    width: 252px;
    margin: -515px 0 0 55px;
  }
}
.whoIam_bordureGrise {
  background-image: none;
  border: 5px solid #434140;
  box-sizing: border-box;
  height: 593px;
  margin: 0 auto 0 0;
  position: relative;
  width: 394px;
}
@media (max-width: 1048px) {
  .whoIam_bordureGrise {
    width: 334px;
  }
}
@media (max-width: 991px) {
  .whoIam_bordureGrise {
    width: 334px;
  }
}
@media (max-width: 767px) {
  .whoIam_bordureGrise {
    width: 394px;
  }
}
@media (max-width: 575px) {
  .whoIam_bordureGrise {
    width: 304px;
  }
}
@media (max-width: 374px) {
  .whoIam_bordureGrise {
    width: 274px;
    height: 573px;
  }
}
.whoIam_img {
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  border-style: none;
  box-sizing: border-box;
  display: block;
  height: 519px;
  margin: -592px auto 65px 37px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  width: 435px;
}
@media (max-width: 1048px) {
  .whoIam_img {
    width: 375px;
  }
}
@media (max-width: 991px) {
  .whoIam_img {
    width: 325px;
  }
}
@media (max-width: 767px) {
  .whoIam_img {
    width: 435px;
  }
}
@media (max-width: 575px) {
  .whoIam_img {
    width: 295px;
  }
}
@media (max-width: 374px) {
  .whoIam_img {
    width: 265px;
    margin: -572px auto 65px 20px;
  }
}
.whoIam_textContainer {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: center;
  line-height: 25.6px;
  max-width: 100%;
  padding-left: 5rem;
  padding-right: 51px;
  position: relative;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
  color: #111;
}
@media (max-width: 991px) {
  .whoIam_textContainer {
    padding-left: 100px;
    padding-right: 0px;
  }
}
@media (max-width: 767px) {
  .whoIam_textContainer {
    padding-left: 40px;
    padding-right: 40px;
    margin: 40px auto;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .whoIam_textContainer {
    padding-left: 0;
    padding-right: 0;
  }
}
.whoIam_textContainer h2 {
  color: #111;
  flex-shrink: 0;
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .whoIam_textContainer h2 {
    margin: 0 auto;
  }
}
.whoIam_textContainer_trait {
  border: solid #000;
  border-width: 3px 0 0;
  flex-shrink: 0;
  height: 3px;
  margin: 30px auto 0 0;
  stroke: #000;
  transform-origin: left center 0;
  width: 54px;
}
@media (max-width: 767px) {
  .whoIam_textContainer_trait {
    margin: 30px auto 0 auto;
  }
}
.whoIam_textContainer p {
  flex-shrink: 0;
  line-height: 25.6px;
  margin: 34px 0 0;
  padding: 0;
}

@media (max-width: 1700px) {
  .accroche {
    flex-direction: column;
  }
}
@media (max-width: 1700px) {
  .accroche .doubleColonne {
    width: 100%;
  }
}
.accroche_img {
  object-fit: cover;
  width: 100%;
  max-height: 900px;
  background-position: 50% 50%;
}
.accroche_img:before {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: 0s;
}
.accroche_textContainer {
  box-sizing: border-box;
  color: #111;
  flex: 1 1 0;
  line-height: 25.6px;
  max-width: 100%;
  position: relative;
  text-align: left;
  background-color: #DFE0D5;
  padding: 0 50px 0 50px;
}
.accroche_textContainer h2 {
  box-sizing: border-box;
  color: #111;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 50px 0 0;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  text-align: left;
  word-wrap: break-word;
}
.accroche_textContainer_trait {
  border: solid #000;
  border-width: 3px 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 3px;
  margin: 30px auto 0 0;
  position: relative;
  stroke: #000;
  text-align: left;
  transform-origin: left center 0;
  width: 54px;
}
.accroche_textContainer p {
  box-sizing: border-box;
  color: #111;
  margin: 30px 0 0;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  text-align: justify;
  word-wrap: break-word;
  font-size: 1.25rem;
}
@media (max-width: 1048px) {
  .accroche_textContainer p {
    font-size: 1rem;
  }
}
.accroche_textContainer span {
  font-weight: bold;
}

.testimonial h2 {
  box-sizing: border-box;
  color: #111;
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 26px 0;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  text-align: center;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .testimonial h2 {
    font-size: 2.25rem;
  }
}
.testimonial_row {
  display: flex;
  flex-direction: row;
}
@media (max-width: 991px) {
  .testimonial_row {
    flex-direction: column;
    width: 75%;
    align-items: center;
    margin: 20px 4rem 0 4rem;
  }
}
.testimonial_cardContainer {
  padding: 10px;
  width: 33%;
}
@media (max-width: 991px) {
  .testimonial_cardContainer {
    width: 100%;
  }
}
.testimonial svg {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  color: #A0A0A0;
  fill: #A0A0A0;
  height: 100%;
  line-height: 0;
  text-align: left;
}
.testimonial_card p {
  box-sizing: border-box;
  color: #111;
  line-height: 25.6px;
  margin: -50px 30px 0;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  text-align: left;
  word-wrap: break-word;
}
.testimonial_card p + p {
  margin: 10px 30px 0;
  border-top: 1px solid #111;
  font-weight: bold;
  font-style: italic;
}

.parrainage {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)), url(../images/sx.webp);
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: #111;
  display: block;
  font-family: Glacial_indifference, "Open Sans", sans-serif;
  line-height: 25.6px;
  object-fit: cover;
  overflow: visible;
  position: relative;
}
.parrainage_majorContainer {
  padding: 50px 0 50px 0;
}
.parrainage .dcContainer {
  display: flex;
  flex: 1 1 0;
}
@media (max-width: 767px) {
  .parrainage .dcContainer {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .parrainage .doubleColonne {
    width: 100%;
  }
}
.parrainage .doubleColonneG {
  padding-left: 10px;
  padding-right: 40px;
  display: flex;
  flex: 0 0 40%;
  max-height: 100%;
  max-width: 40%;
  min-height: 618px;
  min-width: 40%;
  position: relative;
  text-align: left;
}
@media (max-width: 991px) {
  .parrainage .doubleColonneG {
    flex: 0 0 35%;
    max-width: 35%;
    min-width: 35%;
  }
}
@media (max-width: 767px) {
  .parrainage .doubleColonneG {
    margin: 0 auto;
    max-width: 80%;
    min-height: fit-content;
  }
}
.parrainage .doubleColonneD {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 55%;
  max-height: 100%;
  max-width: 55%;
  min-height: 618px;
  min-width: 55%;
  position: relative;
  text-align: left;
}
@media (max-width: 991px) {
  .parrainage .doubleColonneD {
    flex: 0 0 65%;
    max-width: 65%;
    min-width: 65%;
  }
}
@media (max-width: 767px) {
  .parrainage .doubleColonneD {
    flex: 0 0 100%;
    justify-content: center;
    max-width: 100%;
  }
}
.parrainage_textContainer {
  margin-top: 80px;
  margin-right: 80px;
  width: 100%;
}
@media (max-width: 767px) {
  .parrainage_textContainer {
    margin-right: 0;
    height: fit-content;
  }
}
.parrainage h2 {
  box-sizing: border-box;
  color: inherit;
  flex-shrink: 0;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
@media (max-width: 991px) {
  .parrainage h2 {
    margin-top: 55px;
    padding-right: 80px;
    font-size: 2.25rem;
  }
}
@media (max-width: 767px) {
  .parrainage h2 {
    font-size: 3.25rem;
    margin-top: 0;
    padding-right: 0;
    text-align: center;
  }
}
.parrainage p {
  box-sizing: border-box;
  color: #111;
  flex-shrink: 0;
  line-height: 25.6px;
  margin: 30px 0 0;
  overflow-wrap: break-word;
  padding-right: 10px;
  position: relative;
  text-align: left;
  word-wrap: break-word;
}
@media (max-width: 991px) {
  .parrainage p {
    font-size: 0.875rem;
    margin-top: 55px;
  }
}
@media (max-width: 767px) {
  .parrainage p {
    padding-right: 0;
    text-align: center;
  }
}
.parrainage a {
  align-self: flex-start;
  background-color: transparent;
  border: 2px #000;
  border-radius: 0;
  border-style: none none solid;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: table;
  flex-shrink: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 20px auto 0 0;
  outline: 0;
  padding: 0;
  position: relative;
  stroke: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .parrainage a {
    margin: 20px auto 0 auto;
  }
}
.parrainage a:hover {
  border-color: #f1c50e;
  color: gray;
}
.parrainage a:focus {
  border-color: #f1c50e;
  color: gray;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.parrainage a:active {
  background-image: none;
  border-color: #f1c50e;
  color: gray;
}
.parrainage a:active:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.parrainage_trait {
  border: solid #000;
  border-width: 3px 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
  height: 3px;
  margin: 30px 365px 0 0;
  position: relative;
  stroke: #000;
  transform-origin: left center 0;
  width: 54px;
}
@media (max-width: 767px) {
  .parrainage_trait {
    margin: 30px auto 0 auto;
  }
}
.parrainage_boxesContainer {
  margin: auto;
  width: fit-content;
}
.parrainage img {
  background-position: 80.55% 50%;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  border-style: none;
  box-sizing: border-box;
  color: #111;
  display: block;
  height: 503px;
  line-height: 25.6px;
  margin: -586px auto 0 0;
  object-fit: cover;
  object-position: 80.55% 50%;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 525px;
}
@media (max-width: 1048px) {
  .parrainage img {
    width: 465px;
  }
}
@media (max-width: 991px) {
  .parrainage img {
    width: 60%;
    height: 315px;
    margin: -396px auto 0 60px;
  }
}
@media (max-width: 767px) {
  .parrainage img {
    width: 80%;
    margin: -396px auto 0 50px;
  }
}
.parrainage .bordureGrise {
  background-image: none;
  border: 5px solid #434140;
  box-sizing: border-box;
  height: 479px;
  line-height: 25.6px;
  margin: 0px auto 0 -50px;
  position: relative;
  stroke: #434140;
  text-align: left;
  width: 479px;
}
@media (max-width: 1048px) {
  .parrainage .bordureGrise {
    width: 419px;
  }
}
@media (max-width: 991px) {
  .parrainage .bordureGrise {
    width: 60%;
    height: 319px;
    margin: 0 0 0 20px;
  }
}
@media (max-width: 767px) {
  .parrainage .bordureGrise {
    width: 80%;
  }
}
.parrainage .carreGris {
  background-color: #A0A0A0;
  background-image: none;
  box-sizing: border-box;
  height: 453px;
  line-height: 25.6px;
  margin: -391px -53px 0 auto;
  position: relative;
  text-align: left;
  width: 462px;
}
@media (max-width: 1048px) {
  .parrainage .carreGris {
    width: 402px;
  }
}
@media (max-width: 991px) {
  .parrainage .carreGris {
    width: 60%;
    height: 352px;
    margin: -301px 80px 0 auto;
  }
}
@media (max-width: 767px) {
  .parrainage .carreGris {
    width: 80%;
    margin: -301px 0px 0 auto;
  }
}
@media (max-width: 575px) {
  .coord .dcContainer {
    flex-direction: column;
  }
}
@media (max-width: 575px) {
  .coord .doubleColonne {
    width: 100%;
  }
}
.coord img {
  object-fit: cover;
  width: 100%;
  max-height: 750px;
  background-position: 50% 50%;
}
.coord h2 {
  box-sizing: border-box;
  color: #fff;
  flex-shrink: 0;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 50px 0 0;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  text-align: left;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .coord h2 {
    font-size: 1.75rem;
  }
}
@media (max-width: 575px) {
  .coord h2 {
    font-size: 1.25rem;
    margin: 50px auto 0 auto;
  }
}
.coord_row {
  display: flex;
  flex-direction: row;
}
.coord_trait {
  border: solid #fff;
  border-width: 3px 0 0;
  box-sizing: border-box;
  color: #fff;
  flex-shrink: 0;
  height: 3px;
  margin: 30px auto 0 0;
  position: relative;
  stroke: #fff;
  text-align: left;
  transform-origin: left center 0;
  width: 51px;
}
@media (max-width: 575px) {
  .coord_trait {
    margin: 30px auto 0 auto;
  }
}
.coord p {
  box-sizing: border-box;
  color: #fff;
  flex-shrink: 0;
  font-family: Glacial_indifference, "Open Sans", sans-serif;
  line-height: 25.6px;
  margin: 20px 0 50px;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  text-align: left;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .coord p {
    font-size: 0.875rem;
  }
}
@media (max-width: 575px) {
  .coord p {
    padding: 0;
    font-size: 0.875rem;
    margin: 20px auto 0 auto;
    text-align: center;
  }
}
.coord_textMajorContainer {
  background-color: #000;
}
.coord_textSubContainer {
  background-image: none;
  border: 1px solid #fff;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: Glacial_indifference, "Open Sans", sans-serif;
  line-height: 25.6px;
  margin: 51px auto;
  min-height: 500px;
  position: relative;
  stroke: #fff;
  text-align: left;
  min-width: 90%;
}
.coord_textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 575px) {
  .coord_textContainer {
    height: 60%;
  }
}
.coord .icon {
  display: flex;
  justify-content: center;
  text-align: center;
}

.formulaire {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url(../images/eb2ed1ba-05cd-04e3-ecae-7d80d4432e34.webp);
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: #fff;
  display: block;
  line-height: 25.6px;
  object-fit: cover;
  overflow: visible;
  position: relative;
}
.formulaire .colonneCentrale {
  width: 60%;
}
@media (max-width: 991px) {
  .formulaire .colonneCentrale {
    width: 100%;
  }
}
.formulaire h2 {
  box-sizing: border-box;
  color: #fff;
  font-family: Lemon_tuesday, Roboto, sans-serif;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 86px;
  margin: 50px 10px 0;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  text-align: center;
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .formulaire h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 575px) {
  .formulaire h2 {
    font-size: 2.5rem;
  }
}
.formulaire_trait {
  border: solid #fff;
  border-width: 3px 0 0;
  box-sizing: border-box;
  font-family: Glacial_indifference, "Open Sans", sans-serif;
  height: 3px;
  line-height: 25.6px;
  margin: 30px auto 0;
  position: relative;
  stroke: #fff;
  text-align: center;
  transform-origin: left center 0;
  width: 51px;
}
.formulaire p {
  box-sizing: border-box;
  font-family: Glacial_indifference, "Open Sans", sans-serif;
  line-height: 25.6px;
  margin: 20px 34px 0;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  text-align: center;
  word-wrap: break-word;
}
.formulaire a {
  margin-left: 15px;
  color: #fff;
}
.formulaire_textMajorContainer {
  background-clip: padding-box;
  background-color: #000;
  background-origin: padding-box;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 725px;
  min-width: 100%;
  position: relative;
  text-align: left;
  margin: 65px auto 65px auto;
}
.formulaire_textSubContainer {
  border: 1px solid #fff;
  display: flex;
  margin: 50px;
  position: relative;
  stroke: #fff;
  text-align: left;
  width: calc(100%-80px);
}
@media (max-width: 575px) {
  .formulaire_textSubContainer {
    margin: 0;
  }
}
.formulaire_textContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 575px) {
  .formulaire_textContainer {
    padding: 0;
  }
}
.formulaire_formContainer {
  margin: 20px auto;
}
.formulaire_formContainer form {
  align-items: flex-end;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  line-height: 25.6px;
  margin-left: -15px;
  text-align: center;
  width: calc(100% + 15px);
}
.formulaire_formContainer form input {
  background-clip: padding-box;
  background-color: #fff;
  background-image: none;
  border-radius: 0;
  box-sizing: border-box;
  color: #111;
  cursor: text;
  display: block;
  font-family: Glacial_indifference, "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 25.6px;
  margin: 0 34px 20px;
  overflow: visible;
  padding: 10px 12px;
  stroke: #b3b3b3;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}
.formulaire_formContainer form input:focus:invalid {
  border: 2px solid red;
}
.formulaire_formContainer form input:valid {
  border: 2px solid green;
}
.formulaire_formContainer form input:optional {
  border-color: gray;
}
.formulaire_formContainer form textarea {
  background-clip: padding-box;
  background-color: #fff;
  background-image: none;
  border: 1px solid #b3b3b3;
  border-radius: 0;
  box-sizing: border-box;
  color: #111;
  cursor: text;
  display: block;
  font-family: Glacial_indifference, "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 200px;
  line-height: 25.6px;
  margin: 0 34px 20px;
  overflow: auto;
  padding: 10px 12px;
  stroke: #b3b3b3;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  white-space: pre-wrap;
  width: 100%;
  word-wrap: break-word;
}
.formulaire_formContainer form textarea:focus:invalid {
  border: 2px solid red;
}
.formulaire_formContainer form textarea:valid {
  border: 2px solid green;
}
.formulaire_formContainer form textarea:focus {
  background-color: #E8D8C8;
}
.formulaire_formContainer form .btnContainer {
  margin: auto;
}
.formulaire_inputContainer {
  box-sizing: border-box;
  color: #fff;
  line-height: 25.6px;
  margin-bottom: 15px;
  padding-left: 15px;
  text-align: start;
  width: 100%;
}
.formulaire #submit_form {
  cursor: pointer;
  background-color: #434140;
  border: 0 none transparent;
  box-sizing: border-box;
  color: #fff !important;
  letter-spacing: 2px;
  margin: 30px auto 65px auto;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  width: fit-content;
  position: relative;
  z-index: 1;
}
.formulaire #submit_form:hover {
  background-color: #A0A0A0;
}
.formulaire #submit_form:hover::after {
  opacity: 1;
}
.formulaire #submit_form::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(325deg, #a7aa8c, #c2986e);
  opacity: 0;
  z-index: -1;
  transition: opacity 1000ms;
}

footer {
  background-color: #434140;
  color: white;
}
footer p {
  box-sizing: border-box;
  color: #fff;
  font-size: 0.875rem;
  line-height: 22.4px;
  margin: 0px auto;
  overflow-wrap: break-word;
  padding: 0;
  position: relative;
  text-align: center;
  word-wrap: break-word;
  padding: 15px;
}
@media (max-width: 374px) {
  footer p {
    padding: 40px 0 20px 0;
  }
}
footer icon {
  display: flex;
  justify-content: center;
}

.massage {
  border: 1px solid black;
  display: block;
}
@media (max-width: 767px) {
  .massage {
    margin-left: 40px;
    margin-right: 40px;
  }
  .massage .dcContainer {
    flex-direction: column;
  }
  .massage .doubleColonne {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .massage {
    margin-left: 0;
    margin-right: 0;
  }
}
.massage_img {
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  background-color: #434140;
  border-style: none;
  box-sizing: border-box;
  height: 100%;
  margin: -30px auto 30px 30px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  width: 435px;
  display: flex;
  flex-direction: column;
}
.massage_img h3 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin: auto 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.massage_img p {
  color: #fff;
  text-align: center;
}
@media (max-width: 1048px) {
  .massage_img {
    width: 375px;
  }
}
@media (max-width: 991px) {
  .massage_img {
    width: 325px;
  }
}
@media (max-width: 767px) {
  .massage_img {
    width: 90%;
    margin: -30px 30px 30px 30px;
  }
}
@media (max-width: 575px) {
  .massage_img {
    margin: -30px 15px 30px 10px;
  }
}
.massage_carre {
  background-color: #E8D8C8;
  margin: 30px auto 0 -405px;
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 435px;
  z-index: -1;
}
@media (max-width: 1048px) {
  .massage_carre {
    width: 375px;
    margin: 30px auto 0 -345px;
  }
}
@media (max-width: 991px) {
  .massage_carre {
    width: 325px;
    margin: 30px auto 0 -295px;
  }
}
@media (max-width: 767px) {
  .massage_carre {
    width: 90%;
    height: 95%;
    margin: 30px -10px 60px -93%;
  }
}
@media (max-width: 575px) {
  .massage_carre {
    margin: 10px -15px 60px -90%;
  }
}
.massage_boxesContainer {
  min-height: 100%;
  display: flex;
}
.massage_textContainer {
  box-sizing: border-box;
  color: #111;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: center;
  line-height: 25.6px;
  max-width: 100%;
  padding: 30px 30px 29px;
  position: relative;
  text-align: left;
}
@media (max-width: 767px) {
  .massage_textContainer {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 575px) {
  .massage_textContainer {
    padding-right: 25px;
    padding-left: 25px;
  }
}
.massage_textContainer h2 {
  color: #111;
  flex-shrink: 0;
  font-size: 3.75rem;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}
@media (max-width: 767px) {
  .massage_textContainer h2 {
    margin: 0 auto;
    text-align: center;
  }
}
.massage_textContainer_trait {
  background-color: #E8D8C8;
  box-sizing: border-box;
  color: #fff;
  flex-shrink: 0;
  height: 10px;
  line-height: 25.6px;
  margin: 63px auto -10px 0;
  position: relative;
  width: 354px;
}
.massage_textContainer_trait_fin {
  background-color: #E8D8C8;
  box-sizing: border-box;
  color: #fff;
  flex-shrink: 0;
  line-height: 25.6px;
  margin: 20px auto -10px 0;
  position: relative;
  width: 354px;
  height: 4px;
}
@media (max-width: 991px) {
  .massage_textContainer_trait_fin {
    width: 300px;
  }
}
@media (max-width: 767px) {
  .massage_textContainer_trait_fin {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .massage_textContainer_trait {
    width: 300px;
  }
}
@media (max-width: 767px) {
  .massage_textContainer_trait {
    width: 100%;
  }
}
.massage_textContainer p {
  flex-shrink: 0;
  line-height: 25.6px;
  margin: 34px 0 0;
  padding: 0;
  text-align: justify;
}
.massage_textContainer span {
  font-weight: bold;
}

.navigationCheckbox {
  display: none;
}

.navigationBg {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: fixed;
  top: 40px;
  right: 25px;
  background-color: #E8D8C8;
  opacity: 0.75;
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  display: none;
}
@media (max-width: 575px) {
  .navigationBg {
    display: block;
  }
}

.navigationBtn {
  background-color: #fff;
  height: 3rem;
  width: 3rem;
  position: fixed;
  top: 30px;
  right: 20px;
  border-radius: 50%;
  z-index: 4000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  display: none;
}
@media (max-width: 575px) {
  .navigationBtn {
    display: block;
  }
}

.navigationIcon {
  position: relative;
  margin-top: 1.5rem;
  width: 1.5rem;
  height: 2px;
  background-color: #333;
  display: none;
}
@media (max-width: 575px) {
  .navigationIcon {
    display: inline-block;
  }
}

.navigationIcon::before,
.navigationIcon::after {
  width: 1.5rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
  display: none;
}
@media (max-width: 575px) {
  .navigationIcon::before,
.navigationIcon::after {
    display: block;
  }
}

.navigationIcon::before {
  top: -0.8rem;
  display: none;
}
@media (max-width: 575px) {
  .navigationIcon::before {
    display: block;
  }
}

.navigationIcon::after {
  top: 0.8rem;
  display: none;
}
@media (max-width: 575px) {
  .navigationIcon::after {
    display: block;
  }
}

.nav {
  height: 100%;
  position: fixed;
  width: 0%;
  opacity: 0;
  z-index: 1500;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigationListe {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-150%, 5%);
  text-align: center;
  width: 100%;
  background-color: #d9bfa4;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.liens {
  display: block;
  color: #111;
  text-decoration: none;
  height: 60px;
  padding-top: 30px;
  border-top: 1px solid #E8D8C8;
}
.liens:hover {
  background-color: #fff;
  cursor: pointer;
}

.navigationCheckbox:checked ~ .navigationBg {
  transform: scale(90);
}

.navigationCheckbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
}

.navigationCheckbox:checked + .navigationBtn .navigationIcon {
  background-color: transparent;
}

.navigationCheckbox:checked + .navigationBtn .navigationIcon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigationCheckbox:checked + .navigationBtn .navigationIcon::after {
  top: 0;
  transform: rotate(-135deg);
}

.fab.fa-facebook {
  font-size: 50px;
  text-align: center;
  color: #fff;
  margin: 0 20px;
}
.fab.fa-facebook:hover {
  color: #4267B2;
}

.fab.fa-instagram {
  font-size: 50px;
  text-align: center;
  margin: 0 20px;
  color: #fff;
}
.fab.fa-instagram:hover {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*# sourceMappingURL=style.css.map */
