body{
    font-family: 'Glacial_indifference',tahoma;
    margin:0;
    background-color: white;

    @media (max-width: 1048px) {
        width:auto;
        background-color: white;
    }
    
    h1, h2, h3, h4 {
        font-family: 'Lemon_tuesday', tahoma;
    }

    h1, h2 {
        box-sizing: border-box;
        color: #fff;
        flex-shrink: 0;
        line-height: 1.1;
        margin: 0;
        overflow-wrap: break-word;
        padding: 0;
        position: relative;
        text-align: left;
        word-wrap: break-word;
    }

    h1 {
        font-size: 6.25rem;
        font-weight: 300;
        line-height: 1.1;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2;
        margin: 20px 0 0;
    }

}

section {
    display:block;
    margin-top:80px;
    margin-bottom:0;
}

a{
    cursor:pointer;
    text-decoration: none;
    color:#fff;

    &:hover {
        color:orangered;
    }
    
    &:visited{
        color:black;
    }
    
}

.hidden {
    display:none !important;
}

li {
    list-style: none;
}

.colonneCentrale{
    max-width:1140px;
    margin: 0 auto;

    @media (max-width: 991px) {
        max-width:720px;
    }
}

.dcContainer {
    display:flex;
   // margin-top:70px;
}

.doubleColonne {
    width: 50%;
    display:flex;
}

//-----------------------------------------------------------------------------//
//Mise en forme du corps index.html//

.flex {
    display:flex;
}