.btn{
    align-self: flex-start;
    background-color: #434140;
    background-image: none;
    border: 0 none transparent;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: table;
    flex-shrink: 0;
    font-family: Glacial_indifference,"Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 25.6px;
    margin: 30px auto 65px 0;
    outline: 0;
    padding: 10px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    
    //transform: scale(1);
    //transition: transform 400ms;
    
    position:relative;
    z-index: 1;
    
    &:hover{
        &::after{
            opacity:1;
        }
    }
    
    &::after{
        content:"";
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        background-image: $mix_p_s_dark;
        opacity: 0;
        z-index:-1;
        transition: opacity 1000ms;
    }
}
