$couleur_primaire:#56dc6f;
$couleur_secondaire:#FF79DA;
$couleur_tertiaire:#99E2D0;
$couleur_quaternaire:#DFE0D5;
$couleur_card1: #E8D8C8;
$couleur_card2: #DFE0D5;
$couleur_card3: #434140;
$couleur_card4: #A0A0A0;
$couleur_footer:#424242;
$couleur_border:#dce3e6;
$couleur_fond:linear-gradient(180deg, white,darken(white,5%));
$mix_p_s:linear-gradient(325deg, $couleur_primaire,$couleur_secondaire);
$mix_p_s_dark:linear-gradient(325deg, darken($couleur_card2,25%),darken($couleur_card1,25%));
$my_counter:0;
$i:0;
$j:0;
$k:0;
