.cardLine{
    display:flex;
    flex-wrap: wrap;


    @media (max-width: 1048px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media (max-width: 575px) {
        padding:0;
    }

    &_container {
    width: 285px;
    height: 302px;
    min-height: 302px;
    max-height: 100%;
    min-width: 25%;
    max-width: 25%;
    
    @media (max-width: 991px) {
        //width: 235px;
        min-width: 50%;
    }
    @media (max-width: 767px) {

    }
    
    @media (max-width: 575px) {
        min-width: 100%;
    }

        &_1 {
            background-color: $couleur_card1;
            //z-index: 1000;
        }
        &_2 {
            background-image: url("../images/5919fed0-9290-0161-07e7-b4aac8e308ea.webp");
            background-clip: padding-box;
            background-color: transparent;
            background-origin: padding-box;
            background-position: 50% 50%;
            background-repeat: no-repeat no-repeat;
            background-size: cover;
            border: 0 solid transparent;
            box-sizing: border-box;
            display: flex;
            flex: 0 0 25%;
            object-fit: cover;
            overflow: visible;
            position: relative;
            vertical-align: middle;
        }
        &_3 {
            background-color: $couleur_card3;
        }
        &_4 {
            background-image: url("../images/FLEURS.png");
            background-clip: padding-box;
            background-color: white;
            background-origin: padding-box;
            background-position: 50% 50%;
            background-repeat: no-repeat no-repeat;
            background-size: cover;
            border: 0 solid transparent;
            box-sizing: border-box;
            display: flex;
            flex: 0 0 25%;
            object-fit: cover;
            overflow: visible;
            position: relative;
            vertical-align: middle;
        }
        &_5 {
            background-image: url("../images/photos/photo3.webp");
            background-clip: padding-box;
            background-color: transparent;
            background-origin: padding-box;
            background-position: 50% 50%;
            background-repeat: no-repeat no-repeat;
            background-size: cover;
            border: 0 solid transparent;
            box-sizing: border-box;
            display: flex;
            flex: 0 0 25%;
            object-fit: cover;
            overflow: visible;
            position: relative;
            vertical-align: middle;
            
        }
        &_6 {
            background-color: $couleur_card2;
        }
        &_7 {
            background-image: url("../images/MAIN.png");
            background-clip: padding-box;
            background-color: transparent;
            background-origin: padding-box;
            background-position: 50% 50%;
            background-repeat: no-repeat no-repeat;
            background-size: cover;
            border: 0 solid transparent;
            box-sizing: border-box;
            display: flex;
            flex: 0 0 25%;
            object-fit: cover;
            overflow: visible;
            position: relative;
            vertical-align: middle;
            z-index:15;
        }
        &_8 {
            background-color: $couleur_card4;
        }
        &_textBox {

            h3 {
                box-sizing: border-box;
                flex-shrink: 0;
                font-family: Lemon_tuesday,Roboto,sans-serif;
                font-size: 1.875rem;
                font-weight: 700;
                line-height: 1.2;
                margin: 25px auto 0;
                overflow-wrap: break-word;
                padding-top: 25px;
                position: relative;
                text-align: center;
                width: 225px;
                word-wrap: break-word;
            }

            p{
                box-sizing: border-box;

                flex-shrink: 0;
                font-family: Glacial_indifference,"Open Sans",sans-serif;
                font-style: italic;
                line-height: 25.6px;
                margin: 20px auto 30px;
                overflow-wrap: break-word;
                padding: 0;
                position: relative;
                text-align: center;
                width: 225px;
                word-wrap: break-word;
            }

            .trait {
                border: solid;
                border-width: 3px 0 0;
                box-sizing: border-box;
                flex-shrink: 0;
                height: 3px;
                line-height: 25.6px;
                margin: 30px auto 0;
                position: relative;
                stroke: #000;
                transform: rotate(360deg);
                transform-origin: left center 0;
                width: 54px;
            }
            
            &_1 {
                h3, p {
                    color: #111;
                }

                .trait {
                    border-color: #111;
                }
            }
            &_3 {               
                h3, p {
                    color: #fff;
                }
                
                .trait {
                    border-color: #fff;
                }

            }
            &_6 {
                h3, p {
                    color: #111;
                }
                .trait {
                    border-color: #111;
                }
            }
            &_8 {
                h3, p {
                    color: #fff;
                }
                .trait {
                    border-color: #fff;
                }
            }
        }
    }
}

.layout {
    margin-top:-80px;
    z-index:9000;
}


