//-----------------------------------------------------------------------------//
//Mise en forme du formulaire//
.formulaire {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, .65), rgba(255, 255, 255, .65)),url(../images/eb2ed1ba-05cd-04e3-ecae-7d80d4432e34.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    box-sizing: border-box;
    color: #fff;
    display: block;
    line-height: 25.6px;
    object-fit: cover;
    overflow: visible;
    position: relative;
    //min-height:950px;

    .colonneCentrale {
        width:60%;
        @media (max-width: 991px) {
            width:100%
        }
        @media (max-width: 767px) {

        }
    }

    h2 {
        box-sizing: border-box;
        color: #fff;
        font-family: Lemon_tuesday,Roboto,sans-serif;
        font-size: 4.5rem;
        font-weight: 500;
        line-height: 86px;
        margin: 50px 10px 0;
        overflow-wrap: break-word;
        padding: 0;
        position: relative;
        text-align: center;
        word-wrap: break-word;
        @media (max-width: 767px) {
            font-size: 3.5rem;
        }
    
        @media (max-width: 575px) {
            font-size: 2.5rem;
        }
    }

    &_trait {
        border: solid #fff;
        border-width: 3px 0 0;
        box-sizing: border-box;
        font-family: Glacial_indifference,"Open Sans",sans-serif;
        height: 3px;
        line-height: 25.6px;
        margin: 30px auto 0;
        position: relative;
        stroke: #fff;
        text-align: center;
        transform-origin: left center 0;
        width: 51px;
    }

    p {
        box-sizing: border-box;
        font-family: Glacial_indifference,"Open Sans",sans-serif;
        line-height: 25.6px;
        margin: 20px 34px 0;
        overflow-wrap: break-word;
        padding: 0;
        position: relative;
        text-align: center;
        word-wrap: break-word;
    }

    a {
        margin-left:15px;
        color:#fff;
    }

    &_textMajorContainer {
        background-clip: padding-box;
        background-color: #000;
        background-origin: padding-box;
        box-sizing: border-box;
        display: flex;
        flex: 0 0 100%;
        max-height: 100%;
        max-width: 100%;
        min-height: 725px;
        min-width: 100%;
        position: relative;
        text-align: left;
        margin:65px auto 65px auto;
    }

    &_textSubContainer {
        border: 1px solid #fff;
        display: flex;
        margin:50px;
        position: relative;
        stroke: #fff;
        text-align: left;
        width: calc(100%-80px);
        @media (max-width: 575px) {
            margin:0;
        }
    }

    &_textContainer {
        padding: 20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 575px) {
            padding: 0;
        }
    }

    &_formContainer {
        margin: 20px auto;
  
        form {
            align-items: flex-end;
            box-sizing: border-box;
            color: #fff;
            display: flex;
            flex-wrap: wrap;
            line-height: 25.6px;
            margin-left: -15px;
            text-align: center;
            width: calc(100% + 15px);
        
            input {
                background-clip: padding-box;
                background-color: #fff;
                background-image: none;
                border-radius: 0;
                box-sizing: border-box;
                color: #111;
                cursor: text;
                display: block;
                font-family: Glacial_indifference,"Open Sans",sans-serif;
                font-size: 16px;
                font-weight: 400;
                height: auto;
                line-height: 25.6px;
                margin: 0 34px 20px;
                overflow: visible;
                padding: 10px 12px;
                stroke: #b3b3b3;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                width: 100%;
                
                &:focus{
                    border:2px solid blue;
                    background-color: $couleur_card1;
                }
                &:invalid {
                    border:2px solid red;
                }
                &:valid{
                    border:2px solid green;
                }
                &:optional {
                    border-color: gray;
                  }
            }
        
            textarea {
                background-clip: padding-box;
                background-color: #fff;
                background-image: none;
                border: 1px solid #b3b3b3;
                border-radius: 0;
                box-sizing: border-box;
                color: #111;
                cursor: text;
                display: block;
                font-family: Glacial_indifference,"Open Sans",sans-serif;
                font-size: 16px;
                font-weight: 400;
                height: 200px;
                line-height: 25.6px;
                margin: 0 34px 20px;
                overflow: auto;
                padding: 10px 12px;
                stroke: #b3b3b3;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                white-space: pre-wrap;
                width: 100%;
                word-wrap: break-word;
                
                &:invalid {
                    border:2px solid red;
                }
                &:valid{
                    border:2px solid green;
                }
                &:focus {
                    background-color: $couleur_card1;
                }
            }

            .btnContainer{
                margin:auto;
            }
        }
        
    }
    &_inputContainer {
        box-sizing: border-box;
        color: #fff;
        line-height: 25.6px;
        margin-bottom: 15px;
        padding-left: 15px;
        text-align: start;
        width: 100%;
    }

    #submit_form {
        cursor:pointer;
        background-color: $couleur_card3;
        border: 0 none transparent;
        box-sizing: border-box;
        color: #fff !important;
        letter-spacing: 2px;
        margin: 30px auto 65px auto;
        padding: 10px 30px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        user-select: none;
        vertical-align: middle;
        width:fit-content;

        position:relative;
        z-index: 1;

        &:hover{
            &::after{
                opacity:1;
            }
        }
        
        &::after{
            content:"";
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            background-image: $mix_p_s_dark;
            opacity: 0;
            z-index:-1;
            transition: opacity 1000ms;
        }
    }
}