//-----------------------------------------------------------------------------//
//Mise en forme du header//
header {
    display:flex;
    justify-content: space-around;
    margin:20px 0;
    background-color: white;


    ul {
        display : flex;
        margin-top:20px;
        padding-top:20px;
        
        li {
            margin: 0 20px 0 20px;

            a:hover {
                color:red;
            }
        }
    }
}
.header {
    width:1140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:70px;
    //position:fixed;
    //background-color: white;
}

//nav{
    //display:flex;
//}