//-----------------------------------------------------------------------------//
//Mise en forme du header//
header {
    display:flex;
    flex-direction: column;
    background-color: white;
    z-index:6000;
    position:fixed;
    top:0;
    width:100%;

    .colonneCentrale{
        width:100%;
    }

    .header {
        margin:20px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height:70px;
        @media (max-width: 1048px) {
            margin-left:40px;

        }
        @media (max-width: 575px) {
            margin-left: 20px;

        }
        
        svg {
            width:20px;
            height:20px;
            color: #111;
            fill: #111;
            margin-top: 30px;
        }
        
        .hamburger{
            display:none;
            @media (max-width: 575px) {
                display:block;
            }
        }
        .logo {
            width:64px;
        }
        
        .menu_inline {
            
            ul {
                display : flex;
                margin-top:10px;
                padding-top:20px;
                
                li {
                    margin: 0 20px 0 20px;
                    
                    a{
                        color:#111;
                        &:hover {
                            color:orangered;
                        }
                    }
                }
                @media (max-width: 575px) {
                    display:none;
                }
            }
        }

    }
}
