.massage {
    border: 1px solid black;
    display:block;

    @media (max-width: 767px) {

        margin-left:40px;
        margin-right:40px;

        .dcContainer {
            flex-direction:column;
        }

        .doubleColonne {
            width:100%;
        } 
    }
    @media (max-width: 575px) {
        margin-left:0;
        margin-right:0;
    }

    &_img {
        background-position: 50% 50%;
        background-repeat: no-repeat no-repeat;
        background-size: cover;
        border-style: none;
        box-sizing: border-box;
        //height: 519px;
        height: 100%;
        margin: -30px auto 30px 30px;
        object-fit: cover;
        overflow: hidden;
        position: relative;
        width: 435px;

        @media (max-width: 1048px) {
            width: 375px;
        }

        @media (max-width: 991px) {
            width: 325px;
        }

        @media (max-width: 767px) {
            width:90%;
            margin:-30px 30px 30px 30px;
        }
    
        @media (max-width: 575px) {

        }
    }

    &_carre {
        background-color: $couleur_card1;
        margin: 30px auto 0 -405px;
        overflow: hidden;
        position: relative;
        height:100%;
        width: 435px;
        z-index:-1;

        @media (max-width: 1048px) {
            width: 375px;
            margin: 30px auto 0 -345px;
        }

        @media (max-width: 991px) {
            width: 325px;
            margin: 30px auto 0 -295px;

        }

        @media (max-width: 767px) {
            width:90%;
            height:95%;
            margin:30px -10px 60px -93%;
        }
    
        @media (max-width: 575px) {
        }
    }

    &_boxesContainer {
        min-height: 100%;
        display:flex;
    }

    &_textContainer {
        box-sizing: border-box;
        color: #111;
        display: flex;
        flex: 1 1 0;
        flex-direction: column;
        justify-content: center;
        line-height: 25.6px;
        max-width: 100%;
        padding: 30px 30px 29px;
        position: relative;
        text-align: left;

        @media (max-width: 767px) {
            padding-right: 10px;
            padding-left: 10px;
        }

        @media (max-width: 575px) {
            padding-right: 25px;
            padding-left: 25px;
        }

        h2 {
            color: #111;
            flex-shrink: 0;
            font-size: 3.75rem;
            font-weight: 500;
            line-height: 1.2;
            margin: 0;
            padding: 0;
            @media (max-width: 767px) {
                margin: 0 auto;
                text-align: center;
            }
        }

        &_trait{
            background-color: $couleur_card1;
            box-sizing: border-box;
            color: #fff;
            flex-shrink: 0;
            height: 15px;
            line-height: 25.6px;
            margin: 63px auto -10px 0;
            position: relative;
            width: 354px;

            &_fin {
                background-color: $couleur_card1;
                box-sizing: border-box;
                color: #fff;
                flex-shrink: 0;
                line-height: 25.6px;
                margin: 20px auto -10px 0;
                position: relative;
                width: 354px;    
                height:4px;

                @media (max-width: 991px) {
                    width: 300px;
                }

                @media (max-width: 767px) {
                    width:100%;
                }
            }
            
            @media (max-width: 991px) {
                width: 300px;
            }
            
            @media (max-width: 767px) {
                width:100%;
            
            }
        }
        p {
            flex-shrink: 0;
            line-height: 25.6px;
            margin: 34px 0 0;
            padding: 0;
            text-align: justify;
        }

        span {
            font-weight: bold;
        }
    }
}