.parrainage {
    background-image: linear-gradient(0deg, rgba(255, 255, 255, .45), rgba(255, 255, 255, .45)),url(../images/sx.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    box-sizing: border-box;
    color: #111;
    display: block;
    font-family: Glacial_indifference,"Open Sans",sans-serif;
    line-height: 25.6px;
    object-fit: cover;
    overflow: visible;
    position: relative;
    //height:700px;

    &_majorContainer{
        padding: 50px 0 50px 0;
    }

    .dcContainer {
        display:flex;
        flex:1 1 0;
        @media (max-width: 767px) {
            display:block;
            //align-items: center;
        }
    }

    .doubleColonne {
        @media (max-width: 767px) {
            width:100%;
        }
    }
    
    .doubleColonneG{
        padding-left: 10px;
        padding-right: 40px;
        display: flex;
        flex: 0 0 45%;
        max-height: 100%;
        max-width: 45%;
        min-height: 618px;
        min-width: 45%;
        position: relative;
        text-align: left;

        @media (max-width: 991px) {
            flex: 0 0 30%;
            max-width: 30%;
            min-width: 30%;
        }
        @media (max-width: 767px) {
            max-width: 100%;
            min-width: 100%;
        }
    }

    .doubleColonneD {
        box-sizing: border-box;
        display: flex;
        flex: 0 0 55%;
        max-height: 100%;
        max-width: 55%;
        min-height: 618px;
        min-width: 55%;
        position: relative;
        text-align: left;
        @media (max-width: 991px) {
            flex: 0 0 70%;
            max-width: 70%;
            min-width: 70%;
        }
        @media (max-width: 767px) {
            max-width: 100%;
            min-width: 100%;
            margin-top: -300px;
            margin-left: -130px;
        }
    }
    
    &_textContainer {
        margin-top:80px;
        margin-right: 80px;
        @media (max-width: 767px) {
            margin-right: 0;
        }
    }

    h2 {
        box-sizing: border-box;
        color: inherit;
        flex-shrink: 0;
        font-size: 4.5rem;
        font-weight: 500;
        line-height: 1.2;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: left;
        overflow-wrap: break-word;
        word-wrap: break-word;

        @media (max-width: 991px) {
            margin-top: 55px;
            padding-right:80px;
            font-size: 3.75rem;
        }
        @media (max-width: 767px) {
            margin-top: 0;
            padding-right:0;
            text-align: center;
        }
    }

    p {
        box-sizing: border-box;
        color: #111;
        flex-shrink: 0;
        line-height: 25.6px;
        margin: 30px 0 0;
        overflow-wrap: break-word;
        padding: 0;
        position: relative;
        text-align: left;
        word-wrap: break-word;
        
        @media (max-width: 991px) {
            padding-right:80px;
            font-size: 0.875rem;
            margin-top: 55px;
        }
        
        @media (max-width: 767px) {
            padding-right: 0;
            text-align: center;
          }
    }

    a {
        align-self: flex-start;
        background-color: transparent;
        border: 2px #000;
        border-radius: 0;
        border-style: none none solid;
        box-sizing: border-box;
        color: #111;
        cursor: pointer;
        display: table;
        flex-shrink: 0;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
        line-height: inherit;
        margin: 20px auto 0 0;
        outline: 0;
        padding: 0;
        position: relative;
        stroke: #000;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;

        @media (max-width: 767px) {
            margin: 20px auto 0 auto;
          }
    }

    a:hover {
        border-color: #f1c50e;
        color: gray;
    }

    a:focus {
        border-color: #f1c50e;
        color: gray;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    a:active {
        background-image: none;
        border-color: #f1c50e;
        color: gray;
    }

    a:active:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    &_trait {
        border: solid #000;
        border-width: 3px 0 0;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 3px;
        margin: 30px 365px 0 0;
        position: relative;
        stroke: #000;
        transform-origin: left center 0;
        width: 54px;
        @media (max-width: 767px) {
            margin: 30px auto 0 auto;
          }
    }

    img {
        background-position: 80.55% 50%;
        background-repeat: no-repeat no-repeat;
        background-size: cover;
        border-style: none;
        box-sizing: border-box;
        color: #111;
        display: block;
        height: 503px;
        line-height: 25.6px;
        margin: -616px auto 0 0;
        object-fit: cover;
        object-position: 80.55% 50%;
        overflow: hidden;
        position: relative;
        text-align: left;
        width: 525px;

        @media (max-width: 1048px) {
            width: 465px;
        }

        @media (max-width: 991px) {
            width: 300px;
            height: 315px;
            margin: -396px auto 0 180px;
        }

        @media (max-width: 767px) {
            width: 465px;
        }
    
        @media (max-width: 575px) {
            width: 300px;
            height: 300px;
        }
    }

    .bordureGrise {
        background-image: none;
        border: 5px solid $couleur_card3;
        box-sizing: border-box;
        height: 479px;
        line-height: 25.6px;
        margin: 75px auto 0 -50px;
        position: relative;
        stroke: $couleur_card3;
        text-align: left;
        width: 479px;

        @media (max-width: 1048px) {
            width: 419px;
        }

        @media (max-width: 991px) {
            width: 319px;
            height: 319px;
            margin: 175px auto 0 150px;
        }

        @media (max-width: 767px) {
            width: 419px;
        }
    
        @media (max-width: 575px) {
            width: 269px;
        }
    }

    .carreGris {
        background-color: $couleur_card4;
        background-image: none;
        box-sizing: border-box;
        height: 453px;
        line-height: 25.6px;
        margin: -391px -53px 0 auto;
        position: relative;
        text-align: left;
        width: 462px;

        @media (max-width: 1048px) {
            width: 402px;
        }

        @media (max-width: 991px) {
            width: 352px;
            height: 352px;
            margin: -301px -33px 0 auto;
        }

        @media (max-width: 767px) {
            width: 402px;
        }
    
        @media (max-width: 575px) {
            width: 252px;
        }
    }
}