.accroche {

    @media (max-width: 1048px) {
        flex-direction: column;
    }
    
    .doubleColonne {
        @media (max-width: 1048px) {
            width:100%;        
        }
    }
    
    @media (max-width: 991px) {

    }

    @media (max-width: 767px) {

    }

    @media (max-width: 575px) {

    }
    
    &_img {
        object-fit: cover;
        width:100%;
        max-height:900px;
        background-position: 50% 50%;
    }


    &_img:before {
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition-duration: 0s;
    }

    &_textContainer {
        box-sizing: border-box;
        color: #111;
        flex: 1 1 0;
        line-height: 25.6px;
        max-width: 100%;
        position: relative;
        text-align: left;
        background-color: $couleur_card2;
        padding: 0 50px 0 50px;

        h2 {
            box-sizing: border-box;
            color: #111;
            font-size: 2.25rem;
            font-weight: 500;
            line-height: 1.2;
            margin: 50px 0 0;
            overflow-wrap: break-word;
            padding: 0;
            position: relative;
            text-align: left;
            word-wrap: break-word;
        }

        &_trait {
            border: solid #000;
            border-width: 3px 0 0;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 3px;
            margin: 30px auto 0 0;
            position: relative;
            stroke: #000;
            text-align: left;
            transform-origin: left center 0;
            width: 54px;
        }
        
        p {
            box-sizing: border-box;
            color: #111;
            line-height: 2.5rem;
            margin: 30px 0 0;
            overflow-wrap: break-word;
            padding: 0;
            position: relative;
            text-align: justify;
            word-wrap: break-word;
            font-size: 1.25rem;
            @media (max-width: 1048px) {
                font-size: 1rem;
            }
        }
        span {
            font-weight: bold;
        }
    }
}


