.testimonial {


    h2 {
        box-sizing: border-box;
        color: #111;
        font-size: 3.75rem;
        font-weight: 500;
        line-height: 1.2;
        margin: 26px 0;
        overflow-wrap: break-word;
        padding: 0;
        position: relative;
        text-align: center;
        word-wrap: break-word;
    }

    &_row {
        display:flex;
        flex-direction: row;
        @media (max-width: 991px) {
            flex-direction: column;
            width:75%;
            //justify-content: center;
            align-items: center;
            margin:20px 4rem 0 4rem;        
        }
    }

    &_cardContainer{
        padding:10px;
        width:33%;
        @media (max-width: 991px) {
            width:100%;
        }
    
        @media (max-width: 767px) {
            
        }
    
        @media (max-width: 575px) {
    
        }
    }

    svg {
        width:100px;
        height:100px;
        box-sizing: border-box;
        color: $couleur_card4;
        fill: $couleur_card4;
        height: 100%;
        line-height: 0;
        text-align: left;
    }
    
    &_card {

        p {
            box-sizing: border-box;
            color: #111;
            line-height: 25.6px;
            margin: -50px 30px 0;
            overflow-wrap: break-word;
            padding: 0;
            position: relative;
            text-align: left;
            word-wrap: break-word;
        }
         p + p {
            margin: 10px 30px 0 ;
            border-top:1px solid #111;
            font-weight:bold;
            font-style: italic;
         }
    }
}
